/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

@keyframes fader {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: rgb(170, 238, 255);
    text-shadow: 2px 2px 2px #25a9f5;
    transition: 2s;
    animation: fader 2s linear;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: rgb(170, 238, 255);
    margin-bottom: 2em;
    text-shadow: 2px 2px 2px #25a9f5;
    transition: 2s;
    animation: fader 2s linear;
}

/* Elementos com o ID "imagem" */
#imagem{
    float: left;
    border: outset rgb(170, 238, 255);
    padding: 5px;
    margin: 10px 10px 10px 0;
    margin-left: 1em;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 3px 3px 3px #25a9f5;
}

/* Elementos com o ID "cabecalho" */
#cabecalho {
    background-color: rgb(70, 70, 70);
    max-width: 500px;
    width: 100%;
    max-height: 130px;
    margin-bottom: 1em;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 3px 3px 3px #25a9f5;
    text-align: center;
}

/* Elementos de tag <fieldset> */
fieldset {
    border: 0;
}

/* Elemento de tag <body> */
body{
    background-color: rgb(101, 224, 255);
    font-family: sans-serif;
    font-size: 1em;
    color: #25a9f5;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

/* Elemento de tag <form> */
form {
    background-color: #2c2c2c;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    border: outset 10px rgb(112, 50, 255);
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #00273d;
    border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #25a9f5;
    display: block;
    transition: 2s;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea> */
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #25a9f5;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.315);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option> */
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus" */
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #b0e2ff;
}

/* Elementos com o ID "tecnologias" */
#tecnologias {
    transition: 2s;
}

/* Elemento de tag <section> */
section {
    max-width: 500px;
    display: grid;
    margin-top: 0.3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 23px 23px 23px 23px;
    transition: 2s;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #25a9f5;
    border: 0;
    color: #000000;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #b0e2ff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}